{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{% block sign %} 
    {% if request.user.is_authenticated %}
        <div class="user_signed">
            <span class="header__username">Hi, {{ request.user.username }}</span>
            <a href="{% url 'accounts:logout' %}?next=/" class="sign_out">Logout</a>
        </div>
    {% else %}
        <span class="sign">
            <a href="{% url 'accounts:login' %}" class="sign_in">Login</a>
        </span>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="grid">
        <div class="row">
            <div class="col xl-6 xl-o-3 l-8 l-o-2 m-12 sm-12 c-12">
                <div class="reset_form_done_wrapper">
                    <h2 class="successful_message">
                        Reset your password.
                    </h2>
                    <p class="message">
                        We've emailed you instructions for setting your password.<br>
                        If you don't recieve an email, please make sure you've entered the address you registered with.
                    </p>
                </div>
            </div>
        </div>
</div>
{% endblock %}