{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{% block sign %} 
    {% if request.user.is_authenticated %}
        <div class="user_signed">
            <span class="header__username">Hi, {{ request.user.username }}</span>
            <a href="{% url 'accounts:logout' %}?next=/" class="sign_out">Logout</a>
        </div>
    {% else %}
        <span class="sign">
            <a href="{% url 'accounts:login' %}" class="sign_in">Login</a>
        </span>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="grid">
        <div class="row">
            <div class="col xl-6 xl-o-3 l-8 l-o-2 m-12 sm-12 c-12 user_form__wrapper">
                <div class="change_form_wrapper user_form">
                    <h2 class="change_form__title user_form__title">Change password</h2>
                    {% if validlink %}
                    <p class="change_form__subtitle user_form__description">
                        Please follow the form below to create a new password
                    </p>
                    <form method="post" class="reset_form__form grid">
                        <!-- {{ form.as_p }} -->
                        <label for="new_password1" class="row change_form__username">
                            <input type="password" name="new_password1" placeholder="New Password"
                            class="col xl-10 l-10 m-12 sm-12 c-12 xl-o-1 l-o-1 user_form__row_field">
                        </label>
                        <div class="row user_form__description change_form__requierments">
                            <ul class="col xl-12 l-12 m-12 sm-12 c-12 change_form__requierments_list">
                                <li class="change_form__requierments_item">
                                    Your password can’t be too similar to your other personal information.
                                </li>
                                <li class="change_form__requierments_item">
                                    Your password must contain at least 8 characters.
                                </li>
                                <li class="change_form__requierments_item">
                                    Your password can’t be a commonly used password.
                                </li>
                                <li class="change_form__requierments_item">
                                    Your password can’t be entirely numeric.
                                </li>
                            </ul>
                        </div>
                        <label for="new_password2" class="row change_form__username">
                            <input type="password" name="new_password2" placeholder="Retype New Password"
                            class="col xl-10 l-10 m-12 sm-12 c-12 xl-o-1 l-o-1 user_form__row_field">
                        </label>
                        {% csrf_token %}
                        <label for="submit" class="row">
                            <div class="user_form__submit_button col xl-10 l-10 m-12 sm-12 c-12 xl-o-1 l-o-1">
                                <input 
                                type="submit" value="Change"
                                class=" btn btn-primary"
                                required>
                            </div>
                        </label>
                        <div class="row change_form__errors user_form__description">
                            <ul class="col xl-12 l-12 m-12 sm-12 c-12 change_form__errors_list">
                                {% for error in form.new_password2.errors %}
                                    <li class="change_form__show_error">
                                        {{ error }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                    {% else %}
                    <p class="message">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}