<!-- Login page -->
{%extends "base.html" %}
{% block title %} Reset Password {% endblock %}

{% block sign %} 
    {% if request.user.is_authenticated %}
        <div class="user_signed">
            <span class="header__username">Hi, {{ request.user.username }}</span>
            <a href="{% url 'accounts:logout' %}?next=/" class="sign_out">Logout</a>
        </div>
    {% else %}
        <span class="sign">
            <a href="{% url 'accounts:login' %}" class="sign_in">Login</a>
        </span>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="grid">
        <div class="row">
            <div class="col xl-6 xl-o-3 l-8 l-o-2 m-12 sm-12 c-12 user_form__wrapper">
                <div class="reset_form_wrapper user_form">
                    <h2 class="reset_form__title user_form__title">Reset password</h2>
                    <p class="reset_form__subtitle user_form__description">
                        Please enter your email to obtain a new password
                    </p>
                    <form method="post" class="reset_form__form grid">
                        <!-- {{ form.as_p }} -->
                        <label for="email" class="row reset_form__username">
                            <input type="email" name="email" placeholder="Your email"
                            class="col xl-10 l-10 m-12 sm-12 c-12 xl-o-1 l-o-1 user_form__row_field">
                        </label>
                        
                        <label for="submit" class="row">
                            <div class="user_form__submit_button col xl-10 l-10 m-12 sm-12 c-12 xl-o-1 l-o-1">
                                <input 
                                type="submit" value="Send Email"
                                class=" btn btn-primary"
                                required>
                            </div>
                        </label>
                        
                        <div class="row reset_form__errors user_form__description">
                            <ul class="col xl-12 l-12 m-12 sm-12 c-12 reset_form__errors_list">
                                {% for error in form.email.errors %}
                                    <li class="reset_form__show_error">
                                        {{ error }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}