@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: inherit;
    text-decoration: none;
}

html{
    /* 100% = 16px ==> 10px = 62.5% */
    font-size: var(--web-font-size);
    line-height: var(--web-line-height);
    font-family: var(--primary-font);
    box-sizing: border-box;
    background-color: #fafafa;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--html-body-scrollbar-thumb-color);
    border-radius: 0.5rem;
}
html::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--background-color);
}
body{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: var(--web-line-height);
    font-family: var(--primary-font);
    box-sizing: border-box;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--html-body-scrollbar-thumb-color);
    border-radius: 0.5rem;
}
body::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--background-color);
}

ul {
    list-style: none;
}

/* variables */
:root {

    /* color */
    --primary-color: #1b876c !important;
    --secondary-color-dark: #1e2a3a;
    --background-color-dark: #2e3135 !important;

    --background-color: #f8f9fa !important;
    --footer-color: #c2c2c2;

    /* warning color*/
    --warning-color: #c78b00;
    --danger-color: #ff4141;

    /* scrollbar color */
    /*  -body - html */
    --html-body-scrollbar-thumb-color: rgb(40 40 40 / 47%);
    /* header */
    --header-scrollbar-thumb-color: rgba(0, 0, 0, 0.2);

    /* text-color */
    --text-color: #4f4f4f;
    --text-color-emphasis: #292929;
    --text-color-muted: #767676 !important;
    --header-text-color: var(--text-color);
    --intro-text-color: #fffffff7;
    --primary-text-color: #fffffff7;
    /* text-color-hover */
    --header-text-hover-color: #272727;

    /* seperate color */
    --seperate-color: #707070;

    /* btn color */
    --btn-bg: #666666;
    --btn-bg-hover: #444444;
    --btn-text-color: #fff;
    --btn-primary-hover: #0489a6 !important;

    /* font */
    --primary-font: 'Poppins', 'Roboto', 'Open Sans', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    /* 100% = 16px ==> 10px = 62.5% */
    --web-font-size: 62.5%;
    --web-line-height: 1.6rem;

    /* header-info */
    --header-bg-color: #f2f2f2 !important;
    --header-menu-z-index: 10000000;
    /* space between */
    --space-between: 1.6rem;
    /* avatar-size */
    --avata-size: 18.4rem;
    /* icon size */
    --social-icon: 3.2rem;
    /* dark-mode */
    --dark-mode-height: 2.6rem;
    --dark-mode-width: 5rem;
    --dark-mode-bd-radius: 5rem;
    --dark-mode-light: #dbdbdb;
    --dark-mode-dark: #26262c;
    /* to-resume hover */
    --resume-hover-color: #6ecfa2;
    /* box */
    --header-box-shadow-color: #b3b3b3;
    --box-shadow-color: #ddd;
    --box-shadow-hover-color: #21212133;
    --box-separation: #66666666;
    --box-crux: #fff;
    /* progressbar */
    --progress-bar-color: #ddd;
    /* icon-contact */
    --contact-submit-completed-color: #198754;
    --contact-icon-wrapper-color: #ececec;
    /* input form */
    --input-field-border-color: #dfdfdf;
    --input-field-bg-color: #fff;
    /* footer */

    /* admin */
    --header-admin-height: 8rem;
    --avtart-admin-size: 16.8rem;
    --banner-admin-height: 42.4rem;
}

/* base */


.btn {
    position: relative;
    padding: 0.8rem 1.6rem;
    border-radius: 2.6rem;
    border: none;
    box-shadow: none;
    overflow: hidden;
    background-color: var(--btn-bg);
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3 ease;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    height: 102%;
    left: -25%;
    width: 0%;
    overflow: hidden;
    transform: skew(-22deg);
    transition-duration: 0.6s;
    background-color: var(--btn-bg-hover);
}

.btn:hover {
    cursor: pointer;
    color: var(--btn-text-color);
}

.btn:hover::before {
    width: 180%;
}

.btn__content {
    position: relative;
    color: var(--btn-text-color);
    z-index: 999;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.btn-primary::before {
    background-color: var(--btn-primary-hover);
}

/* box */
.box {
    padding: 1.6rem 2.4rem;
    border: 1px solid var(--box-shadow-color);
    border-radius: 1.2rem;
}

.box:hover {
    box-shadow: 0 0 1rem var(--box-shadow-hover-color);
}

.is-visible {
    display: inline-block !important;
}

.is-hiden {
    display: none !important;
}

.emphasis {
    color: var(--primary-color);
}

.number {
    font-family: var(--secondary-font);
}

.hope-value,
.present-value {
    background-color: #28a745;
    border-radius: 0.6rem;
    padding: 0.2rem 0.4rem;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
}

.hope-value {
    background-color: var(--danger-color);
}

.error-msg {
    margin: 0;
    display: block;
    font-size: 1.4rem;
    line-height: 1.2;
    color: var(--danger-color);
}
